<div class="fondo card-container">    
    <div class="cardSecudario ">
        <div class="separador">
           <label class="title">Free Shipping</label> 
        </div>        
        <label class="subtitle">Get 2-day free shipping anywhere in North América.</label>              
    </div>
    <div class="cardSecudario">
        <div class="separador">
           <label class="title">2 years warranty</label> 
        </div>        
        <label class="subtitle">if anything goes wrong in the first two years, we'll replace it for free.</label>              
    </div>
    
    <div style="text-align: right; margin-top: 12px;" class="cardPrimario">
        <div style="text-align: right;" class="separador">
           <label *ngIf="total.total != ''" class="title">$ {{total.total}}</label> 
           <label *ngIf="total.total == ''" class="title">$ {{product.price }}</label> 
        </div>        
        <label class="subtitle">Need financing? Learn more</label>     
    </div>
    <div style="margin-left: 30px; margin-top: 5px;">
          <button  class="botonPagar " mat-flat-button >Buy now</button>            
    </div>
</div>