<div  class="detailTitleSelected">
    Choose your finish.
    </div>
<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="imgags">
    <mat-card style="margin-right: 15px;" *nguCarouselDef="let item; let i = index; let ani = animate" class="mat-elevation-z0; caruselProducto">        
        <div   class="subtitle">
            Ivory White
        </div>
        <div class="contentSubtitle">
            For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True. 
        </div>
      <div >
      <!-- <div class="tile" [style.background]="'url('+item+')'">
        <h1>{{i + 1}}--{{item}}</h1>
      </div> -->
    </div>
    
    </mat-card>

  
</ngu-carousel>