<div style="padding-top: 50px;">
    <mat-card class="mat-elevation-z0; productoPrincipal">
        <img class="imagenPrincipal" mat-card-image style="margin-left: auto; margin-right: auto; display: block;" src="assets/audifonoA.PNG" />
    </mat-card>
    <mat-card class="mat-elevation-z0; subProductoSecundario">    
        <app-slide  [padre]="'product'"></app-slide>
    </mat-card>
    <mat-card class="mat-elevation-z0; subProductoSecundario">    
        <app-slide  [padre]="'caracteristicProduct'"></app-slide>
    </mat-card>    
</div>
