<div style="padding-top: 28px;">
    <mat-card class="mat-elevation-z0; productoSecundario">
        <div style="padding-bottom: 20px;">
            <label class="subRelease"> {{product.subname}} </label>
        </div>        
        <mat-card-title class="title">{{product.name}}</mat-card-title>
        <div style="padding-top: 15px; padding-bottom: 25px;">
            <mat-card-subtitle class="subTitleDetailProduc" > {{product.descripction}}</mat-card-subtitle>
        </div>
        <label class="submesage">{{product.subDescripcion}}</label>
        <br>
        <div style="margin-top: 20px; margin-bottom: 40px;">
            <label class="title">$ {{product.price}} </label>
        </div>
        
        <app-tab></app-tab>
        
        
        <app-slide [padre]="'detailProduct'"></app-slide>
        <div style="margin-top: 50px;"></div>
        <app-garantia ></app-garantia>
    </mat-card>

    
</div>