<div style="padding-top: 50px;">
    <mat-card class="mat-elevation-z0; productoSecundario">
        <mat-card-title class="title">MOMENTUN True Wireless 2</mat-card-title>
        <mat-card-subtitle>Earbuds that put sound first</mat-card-subtitle>

        <label>STARTING AT</label>
        <label>$295.95</label>
        <app-tab></app-tab>
        
        
            <app-slide></app-slide>
            <div style="margin-top: 50px;"></div>
        <app-garantia></app-garantia>
    </mat-card>

    
</div>