	<div class="container">		
			<div class="tabs effect-3">			
			<input type="radio" id="tab-1" name="tab-effect-3" checked="checked">
			<span class="detailTitleUnselect">Overview</span>

			<input type="radio" id="tab-2" name="tab-effect-3">
			<span class="detailTitleUnselect">Features</span>

			<input type="radio" id="tab-3" name="tab-effect-3">
			<span class="detailTitleUnselect">What´s in the box</span>

			<div class="line ease"></div>

			<div class="tab-content">
				<section id="tab-item-1">
                    <div  class="detailProduct" style="width: 100%;">
                        For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.
                    </div>                    
				</section>
				<section id="tab-item-2">
                    <div class="detailProduct" style="width: 100%;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint ocasionalecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
				</section>
				<section id="tab-item-3">
					<div class="detailProduct" style="width: 100%;">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam vent enimtatem min. , quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </div>
				</section>

			</div>
		</div>
	</div>
